@import url("https://fonts.googleapis.com/css?family=Orbitron:400,700");
$font-family: 'Orbitron';

body {
   font-family: $font-family;
   background-color: white;
   color: white;
   font-size: 16px;
}

.unselector {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(60,60,60,0.30);
}

#starMap {
   background-color: #111;
   color: white;
   box-shadow: 10px 10px 30px #555;
   border-radius: 5px;
   position: fixed;
   top: 50%;
   left: 50%;
   margin-top: -375px;
   margin-left: -650px;
   width: 1300px;
   height: 750px;
   display: block;
}

#starMap.voyageMode.colonizer {
   cursor: url("/static/img/colonizer.png") 0 0, auto;
}

#starMap.voyageMode.trojan {
   cursor: url("/static/img/trojan.png") 0 0, auto;
}

@mixin modal {
   background-color: rgba(20,20,20,0.85);
   color: white;
   box-shadow: 0 0 5px #555;
   border-radius: 5px;
   position: fixed;
   top: 50%;
   left: 50%;
   padding: 2em;
}

@mixin modal-large {
   @include modal;

   height:36em;
   width:36em;
   margin-top: -20em;
   margin-left: -20em;
}

@mixin modal-small {
   @include modal;

   height:26em;
   width:26em;
   margin-top: -15em;
   margin-left: -15em;
}

#managementInterface {
   @include modal-large;

   h2 {
      margin: 0 0 0.3em 0;

      span {
         margin-right: 1em;
      }

      a {
         cursor: pointer;
         font-size: 0.8em;
      }
   }

   #playerTag {
      margin-bottom: 1em;

      #playerColor {
         width: 1em;
         height: 1em;
         display: inline-block;
         margin: 0 1em 0 0;
      }
   }

   #shipList, #unitList {
      margin: 1em 0;

      .unitIcon, .unitIcon {
         cursor: move;
         margin: 0;
      }
   }

   .shipIcon, .unitIcon {
      cursor: pointer;
      width: 32px;
      height: 32px;
      margin: 0 5px 0 0;
      display: inline-block
   }

   .enemy {
      float: right;
   }

   .colonizer {
      background-image: url("/static/img/colonizer.png");
   }

   .trojan {
      background-image: url("/static/img/trojan.png");
   }

   .soldier {
      background-image: url("/static/img/soldier.png");
   }


   #resourceList {
      float: right;
      text-align: right;
   }

   .resource {
      height: 32px;
      width: 32px;
      margin-left: 1em;
      margin-right: 1em;
      display: inline-block;
   }

   .workers {
      background-image: url("/static/img/workers.png");
   }

   .cattle {
      background-image: url("/static/img/cattle.png");
   }

   .energy {
      background-image: url("/static/img/energy.png");
   }

   .obtanium {
      background-image: url("/static/img/obtanium.png");
   }

   .notEnough {
      color: #f00;
   }

   #worldMap {
      height: 264px;
      width: 264px;
      margin: 0;
      padding: 0;

      .row {
         height: 65px;
      }

      .tile {
         border: solid #555 1px;
      }

      .tile:hover {
         border: solid #0f0 1px;
      }
   }

   .tile {
      cursor: pointer;
      width: 64px;
      height: 65px;
      display: inline-block;
   }

   .farm {
      background-image: url("/static/img/farm.png");
   }

   .generator {
      background-image: url("/static/img/generator.png");
   }

   .hq {
      background-image: url("/static/img/hq.png");
   }

   .nasa {
      background-image: url("/static/img/nasa.png");
   }

   .vale {
      background-image: url("/static/img/vale.png");
   }

   .lockheed {
      background-image: url("/static/img/lockheed.png");
   }

   .notOperational {
      background-color: #664444;
      background-blend-mode: multiply;
   }

   .stillBuilding {
      background-image: url("/static/img/building.png");
      width: 32px;
      height: 32px;
   }

   #buildingInterface {
      @include modal-small;

      .buildingCosts, .unitCosts {
         float: right;
         text-align: right;

         .resource {
            margin-left: 0;
         }
      }

      .stillBuilding {
         display: inline-block;
      }
   }
}
